main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgb(71, 63, 63);
    margin-top: 60px;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top, center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    column-gap: 220px;
}

main .main-intro h1 {
    font-size: 96px;
    line-height: 106px;
    margin-bottom: 20px;
}

main a {
    margin-top: 30px;
    font-size: 18px;
    display: block;
    background-color: var(--site-color-1);
    padding: 10px 20px;
    width: fit-content;
}

main .main-intro {
    padding-bottom: 8vh;
}

main .main-quotes {
    padding-bottom: 8vh;

}
/* end of hero section */

/* Category Section */

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: rgb(248, 248, 248);
    display:flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 22px;
    }

.index-category-box {
    width: 200px;
    height: 200px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.index-category-box:nth-child(3) {
    background-image: url(../img/blusas.png);
    background-position: center;
    border-radius: 40px;

}
.index-category-box:nth-child(4) {
    background-image: url(../img/calcas.png);
    background-position: left;
    border-radius: 40px;

}

.index-category-box:nth-child(5) {
    background-image: url(../img/botas.png);
    background-position: left;
    border-radius: 40px;

}

.index-category-box:nth-child(6) {
    background-image: url(../img/chapeu.png);
    background-position: left;
    border-radius: 40px;

}

.index-category-box:nth-child(7) {
    background-image: url(../img/accs.png);
    background-position: left;
    border-radius: 40px;

}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    transition: all ease-in-out 100ms;
    border-radius: 40px;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;

}

.index-category-box h2 {
    font-size: 22px;
    line-height: 28px;
    color: white;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;

}

/* parte sobre */

.index-about {
    width: 100%;
    height: 400px;
    padding: 60px 0;
    background-color: rgb(71, 63, 63);
}

.index-about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.index-about-img img {
    width: 300px;
    border: 2px solid white;;
    border-radius: 300px;
}

.index-about-text {
    flex-basis:  455px;

}

.index-about-text p {
    padding: 20px 0;
}

.index-about-text a {
    margin-top: 30px;
    font-size: 18px;
    display: block;
    background-color: var(--site-color-1);
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
}


.index-about-text a:hover {
    color:var(--site-hover-color);
}
/* vc parou editando isso (a parte do about me) */

